@import url('https://fonts.googleapis.com/css2?family=Chango&family=Roboto+Condensed:wght@300&display=swap');

body {
  margin: 0;
  font-family:'Roboto Condensed', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #baf2ff 50%, #ffe4ff 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

h1 {
  font-size: 10rem !important;
  font-family: 'Chango', cursive;
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
      2px  2px 0 #000,
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px  1px 0 #000,
      1px  1px 0 #000;
}
a {
  color: black !important;
}

a:active {
  color: black !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.full-page-controls {
  display: none;
}

.slider-page {
  height: 100%;
  margin-top:0;
}

.screencap {
  height: 700px;
}

.right-offset {
  display: flex;
  box-shadow: 20px 10px #92acb9;
}

.left-offset {
  display: flex;
  box-shadow: -20px -10px #e98074;
}

.border {
  border: 1px solid black;
}

.footer {
  color: gray;
}

.nav-link {
  padding-left: 50px !important;
}

.navbar {
  font-size: 20px; 
}

.navbar-brand {
  font-size: 25px !important;
}

.col-data {
  font-size: 20px;
}

.landing{
  margin-top: -100px;
}

.landing p {
  font-size: 18pt;
}

.card {
  background-color: transparent !important;
}
